@font-face {
    font-family: HelveticaNeue;
    src: url(../../../../assets/HelveticaNeue.ttc);
}
.image-drop {
    background-color: #F6F6F6;
    height: 423px;
    border-radius: 18px;
    border: 2px dashed #4386A9;
    display: flex;
    flex-direction: column;
}
.image-warning {
    background-color: #FFF1F1;
    height: 423px;
    border-radius: 18px;
    border: 2px dashed #E52F2F;
    display: flex;
    flex-direction: column;
}
.image-preview-div {
    background-color: transparent;
    height: 500px;
    border-radius: 0;
    border: none;
    display: flex;
    flex-direction: column;
}
.img-file {
   padding: 20px;
   display: flex;
   justify-content: space-between;
}
.img-file div {
    display: flex;
}
.img-file div img {
    width: 20px;
    height: 20px;
    align-self: center;
}
.img-file div .size {
    font-size: 14px;
    color: #5F5F5F;
    font-family: sans-serif;
}
.img-file div span {
    margin: 0 10px;
    align-self: center;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1px;
}
.upload-again {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;
    background: #62A1EB;
    border-radius: 8px;
    border: none;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.upload-btn {
    padding: 18px 60px;
    background: #62A1EB;
    border-radius: 8px;
    border: none;
    color: white;
    font-family: HelveticaNeue;
    font-size: 18px;
    cursor: pointer;
    letter-spacing: 1px;
    margin-top: 35px;
}
.image-p {
    color: #4386A9;
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    font-family: HelveticaNeue;
    text-align: center;
}
.image-p-warning {
    color: #E52F2F;
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    font-family: HelveticaNeue;
    text-align: center;
}
.warning-div {
    margin-bottom: 20px;
    display: none;
}
.label-wrong {
    color: #E52F2F;
}
.input-field-red {
    border: 2px solid #E52F2F;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    padding: 0 10px;
    font-size: 12pt;
    outline: none;
}
.warning-div-err {
    margin-bottom: 20px;
    display: block;
}
.laptop-name-brand {
    display: flex;
    gap: 45px;
    padding-bottom: 35px;
    padding-top: 20px;
    border-bottom: 1px solid #C7C7C7;
}
.brand-div {
    width: 100%;
}
.select-field {
    width: 100%;
    height: 45px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 0 20px;
    margin: 30px 0;
    font-size: 18px;
    font-family: HelveticaNeue;
    -webkit-appearance: none;
    background: #EBEBEB url('../../../../assets/arrow-down.png');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 25px);
    background-position-y: 18px;
}
.input-field {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    border: 2px solid #8AC0E2;
    border-radius: 8px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    padding: 0 10px;
    font-size: 12pt;
    outline: none;
}
.input-field:focus {
    background: rgba(43, 75, 242, 0.06);
    border: 1.8px solid #6499FF;
}
.laptop-name-brand > div {
    width: 100%;
}
.cpu {
    display: flex;
    gap: 30px;
    padding: 30px 0;
}
.cpu > div {
    width: 100%;
}
.mob-camera {
    display: none;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.laptop-ram-storage {
    display: flex;
    gap: 45px;
    padding-bottom: 70px;
    border-bottom: 1px solid #C7C7C7;
}
.laptop-ram-storage > div {
    width: 100%;
}
.radio-hdd-ssd div {
    display: flex;
    gap: 70px;
    margin-top: 5px;
}
.radio-hdd-ssd div img {
    position: relative;
    right: 50px;
    top: 3px;
}
.laptop-condition div img {
    position: relative;
    right: 50px;
    top: 3px;
}
.radio-hdd-ssd div > label {
    gap: 10px;
}
.lari {
    float: right;
    position: relative;
    right: 15px;
    bottom: 33px;
}
.laptop-date-cost {
    display: flex;
    gap: 45px;
    padding: 30px 0;
}
.laptop-date-cost > div {
    width: 100%;
}
.laptop-condition {
    padding: 10px 0;
}
.laptop-condition div {
    display: flex;
    gap: 70px;
    margin-top: 5px;
}
.laptop-condition div > label {
    gap: 15px;
}
input[type="radio"] {
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}
.btns-back {
    float: left;
    border: none;
    font-family: HelveticaNeue;
    color: #62A1EB;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
    padding: 20px 0;
}
.sub-res-buttons div:nth-child(1) {
    width: 100%;
}
.sub-res-buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px;
}
.file {
    width: 100%;
    height: 100%;
    display: none;
}
.file-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-radius: 10px;
    text-align: center;
}
.image-preview {
    width: 100%;
    height: 100%;
}
.warning-div-mob {
    display: none;
}
.warning-div-err-mob {
    display: none;
}
@media only screen and (max-width: 425px) {
    .image-preview-div {
        height: 240px;
    }
    .img-file {
        padding: 30px 0;
    }
    .upload-again {
        padding: 10px;
    }
    .img-file div img {
        width: 15px;
        height: 15px;
    }
    .img-file div .size {
        font-size: 13px;
    }
    .img-file div div {
        display: flex;
        flex-direction: column;
    }
    .img-file div span {
        margin: 0 15px;
        align-self: center;
        font-family: HelveticaNeue;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
        letter-spacing: 1px;
    }
    .laptop-name-brand {
        display: block;
        padding-bottom: 0;
        padding-top: 0;
    }
    .cpu {
        padding: 0 0 10px 0;
        display: block;
    }
    .laptop-ram-storage {
        display: block;
        padding-bottom: 0;
    }
    .radio-hdd-ssd {
        margin: 20px;
    }
    .cpu > div:nth-child(3) {
        padding: 30px 0 10px 0;
    }
    .laptop-condition {
        padding: 0 0;
    }
    .laptop-date-cost {
        display: block;
        gap: 45px;
        padding: 10px 0;
    }
    .laptop-date-cost > div {
        padding: 10px 0 0 0 ;
    }
    .sub-res-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 0 0 0;
    }
    .sub-res-buttons div {
        width: 100%;
        text-align: center;
    }
    .sub-res-buttons div:nth-child(2) {
        display: flex;
        justify-content: center;
    }
    .btns-back {
        display: flex;
        float: none;
        width: fit-content;
    }
    .upload-btn {
        display: none;
    }
    .warning-div {
        display: none;
    }
    .warning-div-err {
        display: none;
    }
    .warning-div-mob {
        display: none;
    }
    .warning-div-err-mob {
        margin-top: 20px;
        display: block;
    }
    .mob-camera {
        display: block;
    }
}